* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
}

h2 {
    font-size: 50px;
    color: cornsilk;
}

#recipe-category {
    display: flex;
    color: honeydew;
    background-color: #F44D14;
    max-height: auto;
    padding: 15px;
    padding-left: 50px;
}

.recipe-section {
    display: block;
    width: auto;
    margin: 0 auto;
    height: auto;
}

.centered {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#site-name {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    color: #F44D14;
    font-size: 40px;
    text-decoration: none;
    border-radius: 10% 80% 20% 80%;
    animation-name: sitename;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes sitename {
    0% {
        background-color: #4E8129;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: #EBC542;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: #4E8129;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: #EBC542;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: #4E8129;
        left: 0px;
        top: 0px;
    }
}

.site-intro {
    display: flex;
    font-size: 20px;
    text-align: justify;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    color: rgb(206, 205, 205);
    font-weight: bolder;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    border-radius: 1.5%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    width: 80%;
    list-style-type: none;
    font-size: 25px;
    padding: 5px;
    margin-left: 235px;
}

nav li a {
    background-color: #f44c14a9;
    text-decoration: none;
    border-radius: 10% 150% 90%;
    border-color: #F44D14;
    color: cornsilk;
}

nav li a:hover {
    background-color: #F44D14;
    border-radius: 70% 9% 90%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f44c14a9;
    background-image: url(../IMAGES/leaf-img.png);
    background-repeat: no-repeat;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 3%;
    background-color: transparent;
}

.dropdown:hover .dropdown-nav {
    background-color: #F44D14;
}

#search-box {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
}

.dropdown input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

section div span p {
    margin: 0 auto;
    padding: 30px;
}

.ingredients {
    font-size: 25px;
    font-weight: 400px;
    margin: 0;
    padding: 30px;
    text-align: justify;
    background-color: rgb(228, 89, 43);
    color: whitesmoke;
    z-index: 50;
}

.hide {
    display: none;
}


/* ---------CARDS---------------- */

#card-social {
    background-color: black;
    padding: 40px;
    box-shadow: 0px, 10px, 30px, rgba(0, 0, 0, 0, 1);
    border-radius: 1px;
    text-align: center;
    margin: 40px auto;
    border-color: 575F9D;
    border-style: ridge;
}

.card-recipe {
    border: rgb(210, 210, 230) solid;
    margin: 50px auto;
}


/* ----------Lists--------- */

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i {
    font-size: 50px;
}

.list-inline i:hover {
    color: #E4592B;
}

.list-inline li a {
    text-decoration: none;
    border-radius: 10% 150% 90%;
    border-color: #F44D14;
    color: cornsilk;
}

nav li a:hover {
    background-color: #F44D14;
    border-radius: 70% 9% 90%;
}


/* ----END LISTS---------- */

aside {
    margin: 0 auto;
}

footer {
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: black;
    color: cornsilk;
}